.flex-container {
    display: flex;
    align-items: center;
    justify-content: left; 
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}

.info-tab {
    border: 2px solid #868383;
    height: 6%;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 145px;
    background-color: transparent;
    border-radius: 5px;
}